<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GLOVIS_PRIME</title>
    <style>
        .jb-wrap {
	        width: 100%;
	        margin: 10px auto;
	        border: 1px solid #000000;
	        position: relative;
        }
        .jb-wrap img {
	        width: 100%;
	        vertical-align: middle;
        }
        .jb-text {
	        padding: 5px 10px;
<!--	        background-color: yellow;-->
	        text-align: center;
	        position: absolute;
	        top: 50%;
	        left: 50%;
	        transform: translate( -50%, -50% );
        }
    </style>
</head>
<body>
    <table border="1" width="1000" height="500">
        <caption>HTUNDAI GLOVISWAA</caption>
        <col width="0" /> <!--보더, 패딩 안들어감. 위드, 배경색, 글씨크기만 바꿀 수 있음.-->
        <col />
        <col />
        <col />
        <col />
        <col />
        <thead>
        <tr>
            <th scope="col" id="col1"></th>
            <th scope="col" id="col2">No.4</th>
            <th scope="col" id="col3">No.3</th>
            <th scope="col" id="col4">No.2</th>
            <th scope="col" id="col5">No.1</th>
            <th scope="col" id="col6"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th class="part" id="row1"></th>
            <td headers="col2 row1" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/11-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> {{11-4}} </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row1" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/11-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 11-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row1" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/11-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 11-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row1" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/11-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 11-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row1" >11</td>
        </tr>
        <tr>
            <th class="part" id="row2"></th>
            <td headers="col2 row2" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/10-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 10-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row2" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/10-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 10-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row2" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/10-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 10-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row2" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/10-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 10-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row2" >10</td>
        </tr>
        <tr>
            <th class="part" id="row3"></th>
            <td headers="col2 row3" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/9-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 9-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row3" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/9-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 9-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row3" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/9-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 9-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row3" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/9-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 9-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row3" >10</td>
        </tr>
        <tr>
            <th class="part" id="row4"></th>
            <td headers="col2 row4" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/8-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 8-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row4" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/8-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 8-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row4" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/8-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 8-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row4" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/8-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 8-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row4" >8</td>
        </tr>
        <tr>
            <th class="part" id="row5"></th>
            <td headers="col2 row5" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/7-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 7-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row5" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/7-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 7-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row5" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/7-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 7-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row5" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/7-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 7-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row5" >7</td>
        </tr>
        <tr>
            <th class="part" id="row6"></th>
            <td headers="col2 row6" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/6-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 6-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row6" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/6-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 6-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row6" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/6-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 6-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row6" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/6-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 6-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row6" >6</td>
        </tr>
        <tr>
            <th class="part" id="row7"></th>
            <td headers="col2 row7" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/5-4.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 5-4 </p>
                    </div>
                </div>
            </td>
            <td headers="col3 row7" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/5-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 5-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row7" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/5-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 5-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row7" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/5-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 5-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row7" >5</td>
        </tr>
        <tr>
            <th class="part" id="row8"></th>
            <td headers="col2 row8" ></td>
            <td headers="col3 row8" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/4-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 4-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row8" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/4-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 4-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row8" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/4-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 4-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row8" >4</td>
        </tr>
        <tr>
            <th class="part" id="row9"></th>
            <td headers="col2 row9" ></td>
            <td headers="col3 row9" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/3-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 3-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row9" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/3-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 3-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row9" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/3-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 3-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row9" >3</td>
        </tr>
        <tr>
            <th class="part" id="row10"></th>
            <td headers="col2 row10" ></td>
            <td headers="col3 row10" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/2-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 2-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row10" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/2-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 2-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row10" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/2-1.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 2-1 </p>
                    </div>
                </div>
            </td>
            <td headers="col6 row10" >2</td>
        </tr>
        <tr>
            <th class="part" id="row11"></th>
            <td headers="col2 row11"></td>
            <td headers="col3 row11" >
               <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/1-3.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 1-3 </p>
                    </div>
                </div>
            </td>
            <td headers="col4 row11" >
                <div class="jb-wrap">
                    <div class="jb-image"><img src="static/deak/asset/image/1-2.jpg" alt=""></div>
                    <div class="jb-text">
                        <p> 1-2 </p>
                    </div>
                </div>
            </td>
            <td headers="col5 row11"></td>
            <td headers="col6 row11" >1</td>
        </tr>

        </tbody>

    </table>
</body>
</html>