<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>info</title>
    <link rel="stylesheet" href="/static/main/css/info.css"/>
<style>
body {
    background-image: url("/static/info/assets/image/beach_wood.jpg");
    background-position: center center;
    background-size: cover;
}
</style>
</head>

<body>

<article class="flow">
  <h1 style="color:#333333;"onClick="location.href='/main'">팩토리 팀</h1>
  <div class="team">
    <ul class="auto-grid" role="list">
      <li>
        <a href="https://www.instagram.com/chzn__e/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Lee Hee Seung</h2>
          <p>Technical Leader & Founder</p>
          <img alt="Lee Seung Hee" src="/static/main/assets/img/1.jpg" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/jeon___sh/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Jeon Sung Ho</h2>
          <p>Technical Leader & Developer</p>
          <img alt="Profile shot for Celina Harris" src="/static/main/assets/img/4.jpg" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/_imtae____/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Kim Tae Hyun</h2>
          <p>Technical Leader & Developer</p>
          <img alt="Profile shot for Ruby Morris" src="/static/main/assets/img/3.jpg"/>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/coke_c.o.k.e/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Lee Seung Hee</h2>
          <p>Developer</p>
          <img alt="Profile shot for Nicholas Castro" src="/static/main/assets/img/5.jpg" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/arri_is/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Lee Ah Ri</h2>
          <p>Developer</p>
          <img alt="Profile shot for Marc Dixon" src="/static/main/assets/img/2.jpg" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/chio_ong/" target=_blank" class="profile">
          <h2 class="profile__name" style="vertical-align: middle; text-align: center;">Moon Chi Woong</h2>
          <p>Developer</p>
          <img alt="Profile shot for Chad" src="/static/main/assets/img/6.jpg" />
        </a>
      </li>
    </ul>
  </div>
</article>

</body>