<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검수자 등록</title>
</head>
<body>
<div>
    <h1>검수자 등록</h1>
</div>
<center>
<div>
    <form method="POST" action="/register">
        <div>
            <label for="user_company">하역사명</label>
            <input type="text" id="user_company" placeholder="하역사이름" name="user_company"/>
        </div>
        <div>
            <label for="userid">Phone_number</label>
            <input type="number" id="userid" placeholder="010-"/>
        </div>
        <div>
            <label for="user_name"> Checker</label>
            <input type="text" id="user_name" placeholder="이름" name="username"/>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</center>

</body>
</html>1